{namespace ElectricCode}

/**
 * @param code
 * @param mode
 * @param? copyLabel
 * @param? elementClasses
 */
{template .render}
	<div class="code-container{$elementClasses ? ' ' + $elementClasses: ''}">
		<a class="copy-to-clipboard" href="javascript:;">{$copyLabel ?: 'Copy'}</a>

		<code class="code" data-mode="{$mode}" ref="code">{$code}</code>
	</div>
{/template}
